<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Invoice_Number</th>
        <th>Date</th>
        <th>Customer_Name</th>
        <th>Customer_Address</th>
        <th>Customer_Mobile_Number</th>
        <th>Product</th>
        <th>GST</th>
        <th>Total</th>
</tr>
    </thead>
    {% for i in data %}
<tr>
    <td>{{i.Invoice_Number}}</td>
    <td>{{i.Date}}</td>
    <td>{{i.Customer_Name}}</td>
    <td>{{i.Customer_Address}}</td>
    <td>{{i.Customer_Mobile_Number}}</td>
    <td>{{i.Product}}</td>
    <td>{{i.GST}}</td>
    <td>{{i.Total}}</td>

{% endfor %}
    </table>
</div>
</body>
</html>