{% extends 'base.html' %}
{% block content %}
<div style="color:white;background-color:rgba(0,0,0,0.7)">
<form action="" method = "POST" novalidate>
  {% csrf_token %}
  {% if form.non_field_errors %}
  {% for error in form.non_field_errors %}
  <p>{{error}}</p>
  {% endfor %}
  {% endif %}
  {% for fm in form %}
  {{fm.label_tag}} {{fm}} {{fm.errors|striptags}} <br><br>
  {% endfor %}
  <input type="submit" value="Save">

</form>
    <a href="{% url 'addandshow' %}">BACK</a>
</div>

{% endblock %}